@import "../../global.scss";
.button {
  padding: 15px 33px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $primary-color;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &.outlined {
    background-color: white;
    color: $primary-color;
  }
}
